<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Projeto_Agenda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Agenda.Properties.Settings.ConnectionString"
            connectionString="Data Source=172.16.255.252;User ID=250057;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Projeto_Agenda.Properties.Settings.db_250174ConnectionString"
            connectionString="Data Source=172.16.255.252;Initial Catalog=db_250174;User ID=250174;Password=A12345678a;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Projeto_Agenda.Properties.Settings>
            <setting name="NomeUsuarioLogado" serializeAs="String">
                <value />
            </setting>
            <setting name="NIvelUsuarioLogado" serializeAs="String">
                <value>0</value>
            </setting>
        </Projeto_Agenda.Properties.Settings>
    </userSettings>
</configuration>